<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>E Mart - Register</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css"
    />
    <link rel="stylesheet" href="styles/Register.css" />
  </head>
  <body>
    <div class="container">
      <div class="screen">
        <div class="screen__content">


          <form class="login" action="/register" method="post">
            <div class="login__field">
              <i class="login__icon fas fa-user"></i>
              <input
                type="text"
                class="login__input"
                placeholder="User name / Email"
                name="username"
              />
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input
                type="password"
                class="login__input password"
                placeholder="Password"
                name="password"
              />
              <i class="fa fa-eye-slash pass-icon" aria-hidden="true"></i>
            </div>
            <div class="login__field">
              <i class="login__icon fas fa-lock"></i>
              <input
                type="password"
                class="login__input co-password"
                placeholder="Confirm Password"
                name="confirmPassword"
              />
              <i class="fa fa-eye-slash pass-icon" aria-hidden="true"></i>
            </div>
            <button class="button login__submit" type="submit">
              <span class="button__text">Register Now</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
          </form>



          <div class="social-login">
            <h3><a href="./LogIn.html">Log In</a></h3>
          </div>
        </div>
        <div class="screen__background">
          <span
            class="screen__background__shape screen__background__shape4"
          ></span>
          <span
            class="screen__background__shape screen__background__shape3"
          ></span>
          <span
            class="screen__background__shape screen__background__shape2"
          ></span>
          <span
            class="screen__background__shape screen__background__shape1"
          ></span>
        </div>
      </div>
    </div>

    <script src="scripts/Register-script.js"></script>
  </body>
</html>
